bin
.vs
_logs
obj
*.user
/test/Librame.UnitTests/*.user
packages
lib
/exs/Librame.Website/_bin_deployableAssemblies
/doc/Librame.pfx
/doc/Librame.pfx.txt
/examples/Librame.Website/_bin_deployableAssemblies
/resource/Librame.pfx
/resource/Librame.pfx.txt
